How to publish.txt
AIOSomecomfort.egg-info/dependency_links.txt
AIOSomecomfort.egg-info/PKG-INFO
AIOSomecomfort.egg-info/requires.txt
AIOSomecomfort.egg-info/SOURCES.txt
AIOSomecomfort.egg-info/top_level.txt
dist/
__pycache__/
test dont share.py
test_dont_share_shortput.py
